.main{

      display: block;
      height: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
}

.navText:hover{
background-color: rgb(222, 184, 135);
}
.active:hover{
      font-weight: bold;
     
}
.sticky{
      position: sticky;
      
}